*{
    font-family: sans-serif;
    margin: 0;
    
}

body{
    /* padding: 90px 20px 0;  este era el original*/
    padding: 20px 20px 0;
    background: #fff;
    overflow: scroll; /* Show scrollbars */
   
   
}

/* CSS PARA GRID  */

.contenedor {
    width: 70%;
    margin: 20px auto;

}
.contenedor > div,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
}










/* CSS PARA EL HEADER */



.header{
    /* background-color: blueviolet; original */
    background-color: #B565A7;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
}
/* CSS PARA EL NAV */
.nav{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
}
.nav-link{
    color: white;
    text-decoration: none;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 50px;
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none ;
}

.nav-menu-item{
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
    line-height: 50px;
    text-transform: uppercase;
    width: max-content;
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}
.nav-menu-link:hover,
.nav-menu-link_active{
    background-color: #915285;
    transition: 1.5s;
}  

.nav-toggle{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none;
}


section {
    padding-top: 40px;
    margin-top: -40px;
}

h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 34px;
    margin: 10px;}
    

h2 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    margin: 30px;

}
h3 {
    font-size: 26px;
    font-family: 'Lato', sans-serif;

}
h4{
    font-size: 26px;
}
h5 {
    font-size: 26px;
}
p {
    font-size: 24px;
}

ul li{
    font-size: 24px;
}

a {
    text-decoration: none;
    font-size: 24px;
}

p {
    font-family: 'Open Sans', sans-serif;    
}

figcaption{
    font-size: 25px;
}

.mensaje-disculpa{
    text-align: center;
    font-size: 30px;
    border-color: black;
}

html{
    scroll-behavior: smooth;
}


/* ESTOS SON  LOS ESTILOS CORRESPONDIENTES A LAS TABLAS DE LA SECCIÓN MEXT */
th{
    
    background-color: #B565A7;

    color: #fff;
}
.tabla-mext{
    font-size: 25px;
    text-align: center;
    
    color:steelblue;
    border: groove #000;
    border-collapse: collapse;
    margin: 50px;
    width: 75%;
    
}

.tabla-mext td,th {
    padding: 20px;
    border: groove #000;
     border-collapse: collapse;
    
}
.tabla-mext td a{
    color: #0e6496;
}
.tabla-mext:visited{
    color: inherit;
}




.website-screenshoot{
    max-width: 100%;
}

/*Estilos para textos escritos en japonés */ 
.texto-japones{
    font-family: "Yu Mincho",sans-serif;
    font-size: 26px;
}

/*CLASE PARA CENTRAR IMAGENES GENERAL */
/* .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  } */
/* CLASE PARA CENTRAR IMAGENES EN LA SECCIÓN DE YOUTUBERS*/
.center-youtubers img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  }
  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

/* CLASE PARA CENTRAR TABLAS SECCIÓN MEXT */
.center-table table {
    margin-left: auto;
    margin-right: auto;
  }

/* ESTILOS DE LISTA DE LOS EXAMENES */
.exam-list{
    list-style-type: none;
}

.item-exam-list *{
    margin-bottom: 10px;
    padding-bottom: 20px;

    color: #2aaffc; 
       
}


.item-exam-list:hover *{
    color: #0e6496;  

}
.lista-examenes:visited{
    color: inherit;
}

.item-exam-list{
    color: #FC9C2A;
}



/* Estilos items recursos */
.color-espanol{
    color: #FC9C2A;
}
.color-ingles{
    color: #0179EE;
}
.color-japones{
    color: #CA2AFC;
}

.resource-item-hover:hover{
     color: #7DDAD9;  
}
.resource-list>li{
    margin-bottom: 7px;
    margin: 12px;
    
  
}

.resource-list *{    
        /* Default bullets style erased */
        list-style: none;  
        font-family: 'Open Sans', sans-serif;    
        
}


.resource-list>li::before {
    /* Unicode for a bullet */
    content: "\2022";
          
    /* Styles for Indentation*/
    color: violet;
          
    display: inline-block;
    width: 1em;
    margin-left: -1em;    
}

.item-ingles, .item-ingles>a{
    color: #0179EE;
}
.item-japones, .item-japones>a{
    color: #CA2AFC;
}







/* Estilos icono pdf */
.fa-file-pdf{
    padding-left: 10px;
}














@media (max-width:768px){

    body{
 
        padding: 50px 0px 0;    
        overflow: scroll; /* Show scrollbars */
    }
    
    /* CSS PARA GRID  */
    
    .contenedor {
        width: 100%;
        margin: 0px auto;
             
    }

    
    .contenedor > div,
    .contenedor .contenido,
    .contenedor .sidebar,
    .contenedor .footer {
        background: #fff;
        padding: 20px;
        border-radius: 4px;
    }
    
    .resource-list *{
        font-size: 16px;
    }
    h1{
        font-size: 1.6em;
    }
    h2{
        font-size: 1.5em;
    }
    h3{
        font-size: 1em;
    }

    .texto-japones{
        font-size: 18px;
    }
    p{
        font-size: 16px;
    }

    .header{
        height: 60px;
    }
    /* CSS PARA EL NAV */
    .logo{
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
    }
    .nav-menu{
        flex-direction: column;
        align-items: center;
        background-color: #945288;
        margin-right: 20px;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }
    
    .nav-menu-item{
        line-height: 70px;
    }
    .nav-menu-link:hover,
    .nav-menu-link_active {
        background: none;
        color: #e097d3 ;
    }
    .nav-toggle{
       display: block; 
    }
    .nav-menu_visible{
        left: 0;
    }
    /* ESTILOS DEL BOTON */
    .menu-btn{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        border: none;
        padding: 0 3px;
    }
    .menu-btn_burger{
        width: 35px;
        height: 4px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px #B565A7;
        transition: all .3s ease-in-out;
        
    }
    .menu-btn_burger::before,
    .menu-btn_burger::after{
        content: '';
        position: absolute;
        width: 35px;
        height: 4px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px #B565A7;
        transition: all .3s ease-in-out;
    }
    .menu-btn_burger::before{
        transform: translateY(-12px);
    }
    .menu-btn_burger::after{
        transform: translateY(12px);
    }
    /* ANIMATION */
    .menu-btn.open .menu-btn_burger{
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }
    .menu-btn.open .menu-btn_burger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }
    .menu-btn.open .menu-btn_burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }

    img{
        max-width: 100%;
    }
    td {
        display: block;
    }
}


